/*
    vrp_ladderhud
    Copyright C 2018  MarmotaGit
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    at your option any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.
    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

.container-fluid {
    position: absolute;
    padding: 0;
    margin: 0;
    display: inline-block;
    right: 82.5%;
    bottom: 23%;
}

.container {
    display: inline-block;
}
.progress {
    position: absolute;
    z-index: -1;
    height: 0.5vw;
    width: 14vw;
    border-radius: 0.5vw;
    background-color: #2e2e2f;
}
#progress-hunger {
    margin-top: 1.5vw;
    margin-right: 1.4vw;
    border-radius: 0.5vw;
    transform: rotate(180deg);
    border: 0.1vw #D35400 solid;
    right: 0.4vw;
}

#progress-thirst {
    margin-right:1.4vw;
    margin-top: 0.5vw;
    border-radius: 0.5vw;
    border: 0.1vw #2980B9 solid;
    right: 0.4vw;

}
.field {
    margin: 0;
    padding: 0;
    height: 100% !important;
    width: 100%;
    border-radius: 0.5vw;
    transition: width 1.0s;
}
#hunger {
    float: right;
    vertical-align: center;
    background-color: #E67E22;
}
#thirst {
    float: left;
    background-color: #3498DB ;
}