.entry_card_title {
    font-family: cursive;
    font-size: 16px;
    color: rgb(225, 225, 225);
    text-align: center;
}
.entry_card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid rgb(47, 71, 143);;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* gradient background */
    background: linear-gradient(to bottom, rgba(35, 52, 105, 0.9), rgba(0, 0, 0, 0.3));
    overflow: hidden;
}


.entry_card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(59, 85, 163);
    transform: translateY(-10px);
    transition: all 1.0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.entry_card_description {
    font-family: cursive;
    font-size: 14px;
    color: rgb(187, 187, 187);
    text-align: center;
}